<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact -%}

    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      {{ site.title | escape }}
    </a>

    <!-- Navigation Links -->
    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/posts/' | relative_url }}">Post</a></li>
      </ul>
    </nav>
  </div>
</header>
